*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background: linear-gradient(white,black);
}
.screen-body-form{
    height: 50vh;
    width: 50vw;
    display: flex;
    margin: 150px auto 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 1rem;
}
.heading{
    font-size: 3.2rem;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 25vh;
    padding-left: 8rem;
}
.app-form-group input{
  font-size: 2.1rem;
  background: transparent;
  border: none;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
}
#sp{
    margin: 15px;
    padding: 15px;
    margin-left: 20%;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: linear-gradient(black,white);
}
hr{
   border: 1px solid black;
}
p#showdata{
    font-size: 4.1rem;
    color: white;
    font-weight: bold;
    padding-left: 125px;
    padding-right: 125px;
    max-width: fit-content;
    margin-top: 95px;
}


@media (max-width:1180px){
    html{
        font-size: 52.5%;
    }
    p#showdata{
        margin-top: 70px;
    }
}
@media (max-width:980px){
    .heading{
        font-size: 2.2rem;
        padding: 10px;
        max-width: 25vh;
        padding-left: 5rem;
    }
    .app-form-group input{
      font-size: 2.1rem;
      background: transparent;
      border: none;
      line-height: 1.6;
      text-transform: uppercase;
      font-weight: bolder;
      cursor: pointer;
    }
}
@media (max-width:850px) {
    div.heading{
        margin-top: -72px;
    }
}
@media (max-width:760px) {
   html{
    font-size: 42.5%;
   }
}
@media (max-width:630px) {
    html{
     font-size: 32.5%;
    }
    #sp{
        margin-left: 10%;
    }
 }
 @media (max-width:500px) {
    .heading{
        padding-left: 3rem;
    }
    p#showdata{
        margin-top: 50px;
    }
 }
 @media (max-width:470px){
    html{
        font-size: 22.5%;
    }
    #sp{
        margin-left: 1%;
    }
 }
 @media (max-width:425px) {
    .heading{
        padding-left: 1.5rem;
    }
    #sp{
        margin-left: 1%;
    }
    p#showdata{
        margin-top: 35px;
    }
    .app-form-group input{
        line-height: 2;
        font-size: 3.1rem;
}
 }
 @media (max-width:400px){
    hr{
        width:145px;
    }
 }
 @media (max-width:375px){
    hr{
        width:138px;
    }
 }